<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You Have Reached The End Of The Internet</h1>
        <hr />
        <a class="btn btn-outline-success" asp-action="Index" asp-controller="Movies">Home Page</a>
    </div>
</div>