<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Your Are Not Allowed To Access This Page</h2>
        <p>Please, Click the button below to be redirected to home page.</p>
        <hr />
        <p>
            <a asp-action="Index" asp-controller="Movies" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>