<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your Account Was Created Successfully</h2>
        <p>You can now Login To Your Account Using Your Email And Password</p>
        <hr />
        <p>Thank You</p>
    </div>
</div>